<%
  # Obtain manual metrics
  manualMetrics = Metric.all.select{|m| m.user_managed?};
  
  # Filter FORMULA metrics
  formulaMetrics = [];
  
  manualMetrics.each do |mMetric|
    # DATA metrics are not allowed
  	if (!mMetric.nil? && mMetric.numeric?)
  	  description = mMetric.description;
  	  
      # Filter Formula
  	  if(description.start_with?('Formula[') && description.end_with?(']'))
  		  formulaMetrics << mMetric;
  	  end
  	end
  end
  
%>
<% if(!formulaMetrics.empty?) %>
	<div class="widget-row">
	  <% 
		  formulaMetrics.each do |fMetric|
			  metricKey = fMetric.name;
				metricName = fMetric.short_name;
								
				if (measure(metricKey) && !measure(metricKey).value.nil?)
				  metricValue = measure(metricKey).value;
		%>
	        <div class="widget-span">
            <div class="widget-measure-container">
              <p class="widget-measure widget-measure-main">
                <span class="widget-label"><%= metricName -%></span>
                <span class="big nowrap"><%= format_measure(metricKey, :url => url_for_drilldown(metricKey)) -%> <%= tendency_icon(measure(metricKey)) %></span>
              </p>
            </div>
		      </div>
		<%      
		    end
			end
	  %>
	</div>
<% end %>