<%
  # Format value
  def format_value(strValue)
  	
  	decimalPart = strValue.match(/\.\d+/);
  	
  	if(!decimalPart.nil? && decimalPart[0].to_f == 0.0)
  		return strValue.gsub(decimalPart[0], '');
  	else
  		return strValue;
  	end
  end
  
  #######################################################################################################
  
  # Widget properties
  title = widget_properties['title'] ? widget_properties['title'] : '';
  suffix = widget_properties['suffix'] ? widget_properties['suffix'] : '';
  formulaExp = widget_properties['formulaExp'] ? widget_properties['formulaExp'] : '';
  
  # Obtain metric keys
  metricParts = formulaExp.scan(/[a-zA-Z][a-zA-Z\-\_0-9]*/);

  # Original formula
  replacedFormula = formulaExp;
  
  # Arrays
  nonExistingMetrics = [];
  nonNumericMetrics = [];
  nonValueMeasures = [];
  
  metricErrors = false;
  goodValue = true;
  
  # Replace metric keys with values
  metricParts.each do |metricKey|
  	if (metric(metricKey))
  		if (metric(metricKey).numeric?)
  			if (measure(metricKey) && !measure(metricKey).value.nil?)
  				mValue = measure(metricKey).value;
	    		replacedFormula = replacedFormula.sub(metricKey, mValue.to_s);
  			else
  				nonValueMeasures << metricKey;
  				metricErrors = true;
  			end
  		else
  			nonNumericMetrics << metricKey;
  			metricErrors = true;
  		end
  	else
  		nonExistingMetrics << metricKey;
  		metricErrors = true;
  	end
  end

  # Evaluates the formula
  begin
    finalValue = eval(replacedFormula);
    
    if (finalValue.to_f.abs.to_s == 'Infinity')
    	finalValue = message('widget.sonar-formula-plugin.zeroDivision');
    	goodValue = false;
    elsif (finalValue.to_f.nan?)
    	finalValue = message('widget.sonar-formula-plugin.nanError');
    	goodValue = false;
    end
    
  rescue NameError => exception
    finalValue = message('widget.sonar-formula-plugin.nameError');
    goodValue = false;
  rescue SyntaxError => exception
    finalValue = message('widget.sonar-formula-plugin.syntaxError');
    goodValue = false;
    metricErrors = false;
  rescue ZeroDivisionError => exception
    finalValue = message('widget.sonar-formula-plugin.zeroDivision');
    goodValue = false;
    metricErrors = false;
  rescue => exception
    finalValue = message('widget.sonar-formula-plugin.generalError') + ' ' + exception.message;
    goodValue = false;
    metricErrors = false;
  end
%>
<div class="widget-row">
  <div class="widget-span">
    <div class="widget-measure-container">
      <p class="widget-measure widget-measure-main">
        <span class="widget-label"><%= title -%></span>
  			<% if(goodValue) %>
  				<span class="big nowrap"> <%= format_value(number_to_currency(finalValue, :precision => 1, :unit => "")) -%></span> <span style="font-size: 102%"><%= suffix -%></span>
  			<% else %>
  			  <br/>
  				<span><%= finalValue -%></span>
  				<% if (metricErrors) %>
  					<br />
  					<table border="0">
  						<% if(nonExistingMetrics.length > 0) %>
  							<tr>
  								<td style="padding: 2px 5px"><b><%= message('widget.sonar-formula-plugin.nonExistingMetrics') + ':' -%></b></td>
  								<td style="padding: 2px 5px">
  									<% nonExistingMetrics.each do |mKey| %>
  										<%= mKey + ' ' -%>
  									<% end %>
  								</td>
  							</tr>
  						<% end %>
  						<% if(nonNumericMetrics.length > 0) %>
  							<tr>
  								<td style="padding: 2px 5px"><b><%= message('widget.sonar-formula-plugin.nonNumericMetrics') + ':' -%></b></td>
  								<td style="padding: 2px 5px">
  									<% nonNumericMetrics.each do |mKey| %>
  										<%= mKey + ' ' -%>
  									<% end %>
  								</td>
  							</tr>
  						<% end %>
  						<% if(nonValueMeasures.length > 0) %>
  							<tr>
  								<td style="padding: 2px 5px"><b><%= message('widget.sonar-formula-plugin.nonValueMeasures') + ':' -%></b></td>
  								<td style="padding: 2px 5px">
  									<% nonValueMeasures.each do |mKey| %>
  										<%= mKey + ' ' -%>
  									<% end %>
  								</td>
  							</tr>
  						<% end %>
  					</table>
  				<% end %>
  			<% end %>
	    </p>
    </div>
  </div>
</div>